# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# ASP.NET Core
project.lock.json
project.fragment.lock.json
.nuget
**/bin
**/obj
**/packages
**/wwwroot/lib

# Build Folders
bin/
obj/

# Logs
*.log